<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/xamplepage.css">
  <title>Home</title>
</head>
<body>
  <div class="homepage-container">
    Home page { id: <%= id %>, name: <%=name %>, Obj: <%= Obj.object_name %>, day: <%=day %>}
  </div>
</body>
<script src="/public/javascript/homepage.js"></script>
</html>