<link rel="stylesheet" href="/css/servercss.css">
<link rel="stylesheet" href="/css/header.css">
<div class="header-container">
  <span class="header-component left">
    <span class="header-btn btn logo-border"><img src="/public/images/logo.png" alt="logo" class="logo-img">LOGO</span>
    <a href="#" class="header-btn btn home-direct-btn">ホームページ</a>
  </span>
  <span class="header-component right">
    <a  class="header-btn btn likedishes-direct-btn">好きな料理</a>
    <span class="header-btn btn group-btn">
      <span class="header-group-btn">
        <span class="user-infor">
          <span clss="user-image-border"><img src="" alt="" class="user-infor"></span>
          <span class="user-name">国士無双　こんにちは</span>
        </span>
        <span class="list-hidden-btn">
          <span class="group-hidden-btn">
            <a href="#" class="header-btn btn hidden-btn profile-direct-btn">プロファイル</a>
            <span class="header-btn btn hidden-btn logout-btn">ログアウト</span>
          </span>
        </span>
      </span>
    </span>
  </span>
</div>
<script src="/public/jquery.min.js"></script>